@import url("https://fonts.googleapis.com/css?family=Lobster");

@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
  
}

.title {
  margin: auto;
  background-color: #fff;
  font-family: Lobster, Georgia;
  font-weight: 700;
  color: orange;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 3px;
  /* Center the title*/
}

body {
  background-color: white;
  margin-bottom: 100px;
 
}

h2{
    font-family: 'lobster';
}

h3{
    font-family: 'bungee';
}
li{
    font-family:'Courier';
    padding: 5px;
}
.container {

}

.innerTodo {
	font-family: 'Lobster';
}

.btn {
  border: 1px solid black;
  background-color: black;
  padding: 1px 0 1px 0;
  text-align: left;
  width: 170px;
  padding: 0 10px 0 10px;
  font-family: "Lobster", Georgia;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 15px rgba(250, 255, 255, 0.4);
    cursor: pointer;
}
nav {
  /* Hacky fix because I couldnt get the button centered   */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer {
  background-color: white;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 50px;
  margin: 0 auto;
}

.footer-button {
  border: 5px solid black;
  color: black;
  text-style: none;
  border-radius: 120px;
  background-color: white;
  padding: 5px 0 5px 0;
  text-align: center;
  width: 120px;
  padding: 0 10px 0 10px;
  font-family: "Lobster", Georgia;
}

.btn {
  justify-content: space-evenly;
  text-decoration: none;
  background-color: #fff;
  font-family: "Lobster";
  color: black;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  margin: 5px 5px 5px 5px;
}
.spacer {
  background-color: lightgrey;
  height: 1px;
  margin: 15px auto;
  
  width: 85%;
  box-shadow: 0px 0px 15px black;
}
.mainbody {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
}    
.portrait{
 width:15em;
  border-radius: 15px;
}
.notes-list {
  background-color: #fff;
  margin-left: 2px;   
  padding-left: 2vh;
}
.sidepanel {
  background-color: #fff;
  font-family: 'Helvetica';
    Border: 4px solid black;
    border-radius: 25px;
    width: 100%;
}    
p{
    font-family: 'Lobster';
}

ul {
 width: 5em;
	list-style: none;
 font-family: 'Lobster';
}

.side-line {
  width: 1px;
  background-color: grey;
  
  box-shadow: 1px 1px 15px black;
}

.headboard {
    display: grid;
}

.notes {
    
    
    margin:5px;
    font-family: bungee;
}



.todo {
    box-shadow: 5px 5px 5px 25px lightgrey;
    border-radius: 25px;
    padding: 25px;
}    

.menu {
    display:grid;
    grid-template-columns: auto auto auto auto;   
}

.content-section {
/* fixed it by setting width, it wasn't automaticall expanding like I thought it did to fill the entire container */
    display:grid;
    grid-template-columns:55% 25%;
    grid-template-rows: 45% 25%;
    
}

.schedule {
    margin-left:2em;
    
}

.schedul-item {
    border-bottom-color: aqua;
    
    border-radius: 5px;
    padding:5px;
    margin: 5px;;
    font-family: courier;
}

.sched-title {
    
}

.sched-list {
    padding-left: 0;
    margin-right: 20px;
}

body {
    min-width: 20em;  
}

.margin-left: {
    
}
